<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>886196626244-pe8pc1mff720ds7h5mvsp23llltv3u2l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.886196626244-pe8pc1mff720ds7h5mvsp23llltv3u2l</string>
	<key>API_KEY</key>
	<string>AIzaSyAhw6qmVTiY6XmFxGMVbxkelYErLv2HnIY</string>
	<key>GCM_SENDER_ID</key>
	<string>886196626244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.schedulingPlatform</string>
	<key>PROJECT_ID</key>
	<string>scheduling-platform-d3f5e</string>
	<key>STORAGE_BUCKET</key>
	<string>scheduling-platform-d3f5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:886196626244:ios:3a2380e0da372d8a942d11</string>
</dict>
</plist>